<launch>

  <!-- https://answers.gazebosim.org//question/24180/problems-with-spawning-multiple-turtlebots/ -->

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="robot_name" default="no_name"/>
  <arg name="sdf_file" default="$(find gruppe5)/urdf/turtlebot3_ball/model.sdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find gruppe5)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- spawn normal robot launch -->
  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_$(arg robot_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" /-->

  <!-- spawn robot with ball -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(arg sdf_file) -sdf -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -model turtlebot3_$(arg robot_name)" />
</launch>
