<launch>
    <!-- open Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- start RVIZ with map-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find gruppe5)/maps/map_hexa.yaml" output="screen">
        <param name="frame_id" value="map" />
    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gruppe5)/cfg/standard.rviz"/>

    <node pkg="gruppe5" type="collision" name="collision" output="screen">
        <remap from="/collision/odom1_sub" to="/robot1/odom" />
        <remap from="/collision/odom2_sub" to="/robot2/odom" />
    </node>


    <!-- initial poses of both robots-->
    <arg name="prefix1" value="robot1" />
    <arg name="r1_x" value="-2.1" />
    <arg name="r1_y" value="0.4" />
    <arg name="r1_z" value="0.0" />

    <arg name="prefix2" value="robot2" />
    <arg name="r2_x" value="-2.4" />
    <arg name="r2_y" value="0.0" />
    <arg name="r2_z" value="0.0" />


    <!-- Robot Follower -->
    <!--//////////////-->
    <group ns="$(arg prefix1)">
        <param name="tf_prefix" value="$(arg prefix1)" />

        <!-- spawn Robot-->
        <include file="$(find gruppe5)/launch/robot.launch" >
            <arg name="x_pos" value="$(arg r1_x)" />
            <arg name="y_pos" value="$(arg r1_y)" />
            <arg name="z_pos" value="$(arg r1_z)" />
            <arg name="robot_name" value="$(arg prefix1)" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_1">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="$(arg prefix1)"/>
        </node>

        <node name="tf_map_robot1" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /$(arg prefix1)/odom 50"/>

        <!-- Localication Node -->
        <remap from="/$(arg prefix1)/map" to="/map"/>
        <include file="$(find gruppe5)/launch/amcl.launch">
            <arg name="node_name" value="amcl_1"/>
            <arg name="ns_tf" value="/$(arg prefix1)/"/>
            <arg name="scan_topic" value="/$(arg prefix1)/scan"/>
            
            <arg name="initial_pose_x" value="$(arg r1_x)"/>
            <arg name="initial_pose_y" value="$(arg r1_y)"/>
            <arg name="initial_pose_a" value="$(arg r1_z)"/>

            <param name="tf_prefix" value="$(arg prefix1)"/>
        </include>
        
        <!-- Move Robot Node -->
        <include file="$(find gruppe5)/launch/move_base.launch">
            <arg name="cmd_vel_topic" value="/$(arg prefix1)/cmd_vel" />
            <arg name="odom_topic" value="/$(arg prefix1)/odom" />
            <arg name="move_forward_only" value="true"/>
            <arg name="prefix" value="$(arg prefix1)"/>
        </include>
        
        <!-- start selfmade nodes -->
        <!-- publishes goals -->
        <node pkg="gruppe5" type="move_robot" name="move_robot_follower" output="screen">
            <rosparam command="load" file="$(find gruppe5)/maps/goals.yaml" />
        </node>

    </group>
    <!--//////////////-->

        

    <!-- Robot Runner -->
    <!--//////////////-->
    <group ns="$(arg prefix2)">
        <param name="tf_prefix" value="$(arg prefix2)" />

        <!-- spawn Robot-->
        <include file="$(find gruppe5)/launch/robot_ball.launch" >
            <arg name="x_pos" value="$(arg r2_x)" />
            <arg name="y_pos" value="$(arg r2_y)" />
            <arg name="z_pos" value="$(arg r2_z)" />
            <arg name="robot_name" value="$(arg prefix2)" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_2">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="$(arg prefix2)"/>
        </node>

        <node name="tf_map_robot2" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /$(arg prefix2)/odom 50"/>

        <!-- Localication Node -->
        <remap from="/$(arg prefix2)/map" to="/map"/>
        <include file="$(find gruppe5)/launch/amcl.launch">
            <arg name="node_name" value="amcl_2"/>
            <arg name="ns_tf" value="/$(arg prefix2)/"/>
            <arg name="scan_topic" value="/$(arg prefix2)/scan"/>
            
            <arg name="initial_pose_x" value="$(arg r2_x)"/>
            <arg name="initial_pose_y" value="$(arg r2_y)"/>
            <arg name="initial_pose_a" value="$(arg r2_z)"/>

            <param name="tf_prefix" value="$(arg prefix2)"/>
        </include>
        
        <!-- Move Robot Node -->
        <include file="$(find gruppe5)/launch/move_base.launch">
            <arg name="cmd_vel_topic" value="/$(arg prefix2)/cmd_vel" />
            <arg name="odom_topic" value="/$(arg prefix2)/odom" />
            <arg name="move_forward_only" value="true"/>
            <arg name="prefix" value="$(arg prefix2)"/>
        </include>
        
        <!-- start selfmade nodes -->
        <!-- publishes goals -->
        <node pkg="gruppe5" type="move_robot" name="move_robot_runner" output="screen">
            <rosparam command="load" file="$(find gruppe5)/maps/goals.yaml" />
        </node>

    </group>
    <!--//////////////-->

</launch>
