<launch>

    <!-- open Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- start RVIZ with map-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find gruppe5)/maps/map_hexa.yaml" output="screen">
        <param name="frame_id" value="map" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gruppe5)/cfg/standard.rviz"/>

    <!-- Robot Runner -->
    <arg name="prefix1" value="robot1" />
    <group ns="$(arg prefix1)">
        <param name="tf_prefix" value="$(arg prefix1)" />

        <include file="$(find gruppe5)/launch/robot.launch" >
            <arg name="x_pos" value="0.6" />
            <arg name="y_pos" value="0.3" />
            <arg name="z_pos" value="0.0" />
            <arg name="robot_name" value="$(arg prefix1)" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_1">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="$(arg prefix1)"/>
        </node>

        <node name="map_robot1" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /$(arg prefix1)/odom 50"/>

        <include file="$(find gruppe5)/launch/amcl.launch">
            <arg name="node_name" default="amcl"/>
            <arg name="scan_topic" default="scan"/>
            <arg name="initial_pose_x" default="0.6"/>
            <arg name="initial_pose_y" default="0.3"/>
            <arg name="initial_pose_a" default="0.0"/>

            <param name="tf_prefix" value="$(arg prefix1)"/>
            <remap from="map" to="/map"/>
            <param name="odom_frame_id" value="$(arg prefix1)/odom"/>
            <param name="base_frame_id" value="$(arg prefix1)/base_footprint"/>
            <param name="global_frame_id" value="map"/>
            <param name="use_map_topic" value="true"/>

        </include>
        
        
        <!-- Localication Node -->
        
        <!-- Move Robot Node -->
        <!--include file="$(find gruppe5)/launch/move_base.launch">
            <arg name="cmd_vel_topic" default="/robot1/cmd_vel" />
            <arg name="odom_topic" default="/robot1/odom" />
            <arg name="move_forward_only" default="true"/>
        </include-->
        
        <!-- start selfmade nodes -->
        <!--node pkg="gruppe5" type="move_rob_runner" name="move_rob_runner" output="screen">
            <rosparam command="load" file="$(find gruppe5)/maps/goals.yaml" />
            <!-remap from="/move_rob_runner/cmd_vel" to="/cmd_vel" /->
        </node-->

    </group>


    
    
    <!-- Auskommentiert um die das Bewegen eines Roboters zustande zu kommen -->
    <!-- Robot Follower -->
    <!--group ns="robot2">
        <param name="tf_prefix" value="robot2_tf" />

        <include file="$(find gruppe5)/launch/robot_ball.launch" >
            <arg name="x_pos" value="-0.6" />
            <arg name="y_pos" value="0.3" />
            <arg name="z_pos" value="0.0" />
            <arg name="robot_name" value="robot2" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_2">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="robot2_tf"/>
        </node>

        <include file="$(find gruppe5)/launch/amcl.launch"/>
        <node name="map_robot2" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /robot2_tf/odom 50"/>
    </group-->



</launch>
