<launch>

    <!-- open Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- spawns robots-->
    <!--include file="$(find gruppe5)/launch/multiple_robots.launch" /-->

    <!--Wahrscheinlich notwenidig um die tfs undso hinzubekommen-->
    <!--include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" /-->
    

    <!--node name="repostion_map" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /odom 50"/-->

    <!--node name="map_robot2" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /robot2_tf/odom 50"/-->
 


    <!-- start RVIZ with map-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find gruppe5)/maps/map_hexa.yaml" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gruppe5)/cfg/standard.rviz"/>

    <!-- AMCL -->
    <group ns="robot1">
        <param name="tf_prefix" value="robot1_tf" />

        <include file="$(find gruppe5)/launch/robot.launch" >
            <arg name="x_pos" value="0.6" />
            <arg name="y_pos" value="0.0" />
            <arg name="z_pos" value="0.0" />
            <arg name="robot_name" value="robot1" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_1">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="robot1_tf"/>
        </node>

        <include file="$(find gruppe5)/launch/amcl.launch"/>
        <node name="map_robot1" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /robot1_tf/odom 50"/>
    </group>

    <group ns="robot2">
        <param name="tf_prefix" value="robot2_tf" />

        <include file="$(find gruppe5)/launch/robot_ball.launch" >
            <arg name="x_pos" value="-0.6" />
            <arg name="y_pos" value="-0.3" />
            <arg name="z_pos" value="0.0" />
            <arg name="robot_name" value="robot2" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_2">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="robot2_tf"/>
        </node>

        <include file="$(find gruppe5)/launch/amcl.launch"/>
        <node name="map_robot2" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /map /robot2_tf/odom 50"/>
    </group>

    <!-- start selfmade nodes -->
    <node pkg="gruppe5" type="cam" name="cam" output="screen">
        
        <remap from="/cam/sub_camera" to="/camera/rgb/image_raw" />

    </node>

    <!-- spawn ball>
    <param name="ball_description" command="cat '$(find gruppe5)/urdf/test.urdf'" />
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param ball_description -model test -x 0 -y 0 -z 10" />

    <node name="reposition_ball" pkg="tf" type="static_transform_publisher" args=" 1 1 0 0 0 0 /base_link /ball 50"/-->



</launch>
